---
whiskers:
    version: "^2.9.0"
    matrix:
        - flavor
    filename: "themes/catppuccin-{{flavor.identifier}}.lua"
---
local M = {}
{% for name, color in flavor.colors %}
M.{{ name }} = 'rgb({{ color.hex }})'
M.{{ name }}Alpha = '{{ color.hex }}'
{% endfor %}
return M
